.hero {
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  // padding-top: 200px;
  // padding-bottom: 200px;

  // max-width: 1600px;
  // max-height: 600px;

  // background: #2f303a;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../img/hero.jpg);

  padding: 118px 0;
  max-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-mobil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-tabl.jpg);
  }
  @include desktop {
    padding: 200px 0;
    // max-width: 1600px;
    max-height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    @include mobile {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-mobil-2x.jpg);
    }
    @include tablet {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-tabl-2x.jpg);
    }
    @include desktop {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-desk-2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: var(--typical-margin);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);

  @include desktop {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 32px;
}
