.team {
  background: #f5f4fa;

  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__top-title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 30px;
  text-align: center;

  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* ----------Іконки соцмереж команди------- */

/*   акцент соцмереж*/
.socials_team {
  margin-bottom: 25px;
  @include desktop {
    margin-bottom: 30px;
  }
}

.socials__link:hover .card__icon,
.socials__link:focus .card__icon {
  fill: #ffffff;
}

.card__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
