.menu {
  // margin-bottom: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.menu__list {
  // display: flex;
  // align-items: center;

  // margin-bottom: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

// .menu__list .menu__item + .menu__item {
//   margin-left: 8px;
// }
.menu__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background: #f5f4fa;
  border: none;
  cursor: pointer;
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover,
.menu__btn:focus {
  background: var(--accent-color);
  color: var(--main-tittle-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
